// Main Stylesheet

// Imports
@import "variables";
@import "fonts";

a {
  text-decoration: none;
  transition: all .25s ease;
  &:hover {
    //color: $primary;
    //transition: all .25s ease;
  }
}

h1,
h2,
h3,
h4,
h5 {
  @extend .roboto-bold;
}

body {
  @extend .roboto-regular;
}

.btn-primary {
  color: $white;
}


// Sidebar

.sidebar {
  width: 15%;
  min-height: 100vh;
  background: $color-3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;


  @media screen and (max-width: $breakpoint-md) {
    display: none;
    z-index: 2000;

    &.show {
      display: flex;
      position: fixed;
      width: 75%;
      height: 100vh;
      animation: fadeInLeft 1s ease-in-out;
      box-shadow: 1px 0px 10px $secondary;
    }
  }

  &-nav {
    .nav-item {}

    .nav-link {
      color: $white;
      border-left: 3px solid transparent;
      transition: all .5s ease-in-out;


      &.active, &:hover {
        background: lighten($primary, 40%);
        color: $primary;
        border-left: 3px solid $primary;
        transition: all .5s ease-in-out;
      }

      &[data-bs-toggle="collapse"] {
        i:last-of-type {
          font-size: .8rem;
          transition: all .5s ease-in-out;

        }

        &[aria-expanded="true"] {
          background: lighten($primary, 40%);
          color: $primary;
          border-left: 3px solid $primary;
          transition: all .5s ease-in-out;

          i:last-of-type {
            transform: rotateZ(90deg);
            transition: all .5s ease-in-out;
          }
        }
      }
    }


    .collapse {
      border-left: 3px solid $primary;
      border-bottom: 3px solid $primary;
      .nav-item {
        width: 100%;
      }

      .nav-link {
        font-size: .9rem;
        padding-left: 1.5rem;

        &:hover {
          border: none;
        }
      }
    }

  }

  &-close {
    position: absolute;
    background: $color-3;
    bottom: 50%;
    right: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $primary;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    display: none;

    @media screen and (max-width: $breakpoint-md) {
      display: flex;
    }

    &:hover {
      background: $primary;
      color: $white;
    }
  }

}


// Main Content
.main {
  width: 100%;

  @media screen and (min-width: $breakpoint-md) {
    height: 100vh;
    overflow-y: auto;
  }

  .main-content {
    padding: 1.5rem 1rem;
  }

  section {
    background: lighten($primary, 40%);
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }

}



// Header
#header {
  border-bottom: 1px solid $primary;

  .dropdown {
    .dropdown-menu {

    }

    .dropdown-item {
      &:hover {
        background: lighten($primary, 40%);
        color: $primary;
        transition: all .5s ease-in-out;
      }
    }
  }

  .header-user-profile {
    border-radius: 50%;
  }
}


// QR Scanner
.qr-scanner {
  video {
    width: 100%;
  }
}

// Dispense
.dispense {

  &-container {
  }

  .dispense-tabs {
    fieldset {
      display: none;
  
      &.show {
        display: block;
        animation: fadeIn .5s ease-in-out;
      }
    }
  }
}