// Main Stylesheet

// Imports
@import "variables";
@import "fonts";

a {
  text-decoration: none;
  transition: all .25s ease;
  &:hover {
    //color: $primary;
    //transition: all .25s ease;
  }
}

h1,
h2,
h3,
h4,
h5 {
  @extend .roboto-bold;
}

body {
  @extend .roboto-regular;
}

.btn-primary {
  color: $white;
  
  &:hover {
    color: $white;
  }
}



// Login

.login {
  > .container > .row {
    min-height: 100vh;
  }
  
  &-pane {
    position: relative;
    //padding: 1.5rem 1rem;
    animation: fadeIn .5s ease-in-out;
  }
  
  &-pane[data-pane='login-pane-1'] {
    
    .login-tab-btn {
      width: 100%;
      background: lighten($primary, 30%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1.5rem;
      font-weight: 700; 
      
      i {
        font-size: 3rem;
        color: $primary;
        margin-bottom: 1rem;
      }

      &:hover {
        background: $primary;
        color: $white;
        transition: all .5s ease-in-out;

        i {
          color: $white;
        }
      }
    }
  }
  
  
}


// Header
#header {
  
  .nav-link {
    padding: .5rem 1rem;
  }
  
}


// Hero

.hero {
  > .container > .row {
    min-height: 75vh;
  }
}

// Offerings

.offerings {
  
  > .container {
    background: darken($primary, 30%);
  }
  
  &-container {
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
  }
  
  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: $white;
    color: $primary;
    border-radius: 50%;
    font-size: 1.5rem;
  }
}

// Availability
.availability {
  > .container {
    background: lighten($primary, 45%);
  }
}


// Callout
.callout {
  background: linear-gradient(rgb(44 0 2 / 90%), rgb(44 0 2 / 90%)), url('../../dist/img/callout-bg.jpg') center/cover;
  background-attachment: fixed; 
}


// Footer
.footer {
  background: lighten($secondary, 10%);
}


// Registration Page

.register {
  &-progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
    
    .active {
      color: $primary;
    }
    
    li {
      text-align: center;
      list-style-type: none;
      font-size: 15px;
      width: 33.3%;
      float: left;
      position: relative;
      font-weight: 400;
    }
    
    li:before {
      content: "";
      width: 50px;
      height: 50px;
      line-height: 45px;
      display: block;
      font-size: 20px;
      color: #ffffff;
      background: lightgray;
      border-radius: 50%;
      margin: 0 auto 10px auto;
      padding: 2px;;
    }
    
    li:after {
      content: '';
      width: 100%;
      height: 5px;
      background: lightgray;
      position: absolute;
      left: 0;
      top: 25px;
      z-index: 100;
    }
    
    li.active:before {
      background: $primary;
    }
    
    li.active:after {
      background: $primary;
    }
    
    li.active:after {
      background: $primary;
    }
  }

  fieldset {
    display: none;

    &.show {
      display: block;
      animation: fadeIn .5s ease-in-out;
    }
  }
}