// Main Stylesheet

// Imports
@import "variables";
@import "fonts";

a {
  text-decoration: none;
  transition: all .25s ease;
  &:hover {
    //color: $primary;
    //transition: all .25s ease;
  }
}

h1,
h2,
h3,
h4,
h5 {
  @extend .roboto-bold;
}

body {
  @extend .roboto-regular;
}

.btn-primary {
  color: $white;

  &:hover {
    color: $white;
  }
}



// Login

.login {
  > .container > .row {
    min-height: 100vh;
  }

  &-pane {
    position: relative;
    //padding: 1.5rem 1rem;
    animation: fadeIn .5s ease-in-out;
  }

  &-pane[data-pane='login-pane-1'] {

    .login-tab-btn {
      width: 100%;
      background: lighten($secondary, 60%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1.5rem;

      i {
        font-size: 3rem;
      }
    }
  }


}


// Header
#header {

  .nav-link {
    padding: .5rem 1rem;
  }

}


// Hero

.hero {
  > .container > .row {
    min-height: 75vh;
  }
}

// Offerings

.offerings {

  > .container {
    background: darken($primary, 30%);
  }

  &-container {
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
  }

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: $white;
    color: $primary;
    border-radius: 50%;
    font-size: 1.5rem;
  }
}


// Callout
.callout {
  background: linear-gradient(rgb(44 0 2 / 90%), rgb(44 0 2 / 90%)), url('../../dist/img/callout-bg.jpg') center/cover;
  background-attachment: fixed; 
}


// Footer
.footer {
  background: lighten($secondary, 10%);
}